.content {
    display: grid;
    grid-row-gap: 92px;
  }
  
  @media screen and (max-width: 1280) and (min-width: 1025px) {
    .content {
      grid-row-gap: 88px;
    }
  }
  
  @media screen and (max-width: 1024px)  and (min-width: 769px) {
    .content {
      grid-row-gap: 64px;
    }
  }