.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.04;
  margin: 0;
  padding: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    padding: 0 24px;
  }
}

@media screen and (max-width:568px) {
  .lead__title {
    min-width: 288px;
    padding: 0 16px;
    font-size: 40px;
    line-height: 44px;
  }
}